/* PIE DE PAGINA */
footer{
    background: linear-gradient(white, cyan);
    height: 100px;
    width: 100%;
}

#estiloFooter{  
    text-align: left;
   
    /* padding-top: 80px; */
   
    
 }

 #estiloFooter2{ 
    text-align: right;
    margin-right: 12px;
    margin-bottom: 369px;
    margin-top: -30px;
 }

 .img2 {
    
    margin-top: -50px;
    margin-left: 1220px;
    display: flex;
    height: 90px;
    width:90px;
    // background: url(../../img/slogan.jpg);
    background-size: cover;
    justify-content: center;
    // align-items: flex-end;
  
}
