// Header
.header{
  background: linear-gradient(cyan, white);
  height: 100px;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px;
}

.bg-light{
  background: linear-gradient(cyan, white);
}