
  .firma-resim3{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    background-image: url(https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png);}
    // background-image: url(../../img/requisitos.jpg);
   